@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Canadian+Aboriginal&family=Noto+Sans+Math&family=Noto+Sans+Mongolian&family=Noto+Sans+Symbols&family=Noto+Sans+Symbols+2&family=Noto+Sans+Yi&family=Noto+Serif+Tibetan&display=swap');
@font-face{
  font-family: 'twemoji';
  font-weight: bold;
  src: url('https://xem.github.io/unicode13/Twemoji.ttf');
}
@font-face{
  font-family: 'Han-Nom Gothic';
  src: url('https://raw.githubusercontent.com/andy-daniel-aisingioro-lin/browser-font/main/Han-Nom Gothic 1.32.otf');
}
:not(i):not([aria-hidden]):not([style*="icon" i]):not([class*="icon" i]):not([class*="css-"]){
  font-family: system-ui,sans-serif,'D','twemoji','Han-Nom Gothic','Noto Sans Canadian Aboriginal','Noto Sans Yi','Noto Sans Math','Noto Sans Symbols','Noto Sans Symbols 2','Noto Serif Tibetan','Noto Sans Mongolian'!important;
}
