@font-face{
  font-family: '喵呜';
  src: url('https://raw.githubusercontent.com/andy-daniel-aisingioro-lin/browser-font/main/Miao.ttf');
}
@font-face{
  font-family: 'twemoji';
  font-weight: bold;
  src: url('https://xem.github.io/unicode13/Twemoji.ttf');
}
:not(i):not([aria-hidden]):not([style*="icon" i]):not([class*="icon" i]):not([class*=css]){
  font-family: '喵呜', system-ui, sans-serif, 'twemoji', 'Noto Sans Canadian Aboriginal', 'Noto Sans Yi', 'Noto Sans Math', 'Noto Sans Symbols','Noto Sans Symbols 2','Noto Sans Tibetan','Noto Sans Mongolian';
}
